<div class="p-4 bg-light rounded-3">
  <h1 class="fw-bold">Lavacar (Caso de estudio 1)</h1>
</div>

<div class="row mt-4 g-3">
  <div class="col-md-4"><a class="btn btn-outline-primary w-100" href="/Clientes">Clientes</a></div>
  <div class="col-md-4"><a class="btn btn-outline-primary w-100" href="/Vehiculos">Vehículos</a></div>
  <div class="col-md-4"><a class="btn btn-outline-primary w-100" href="/Citas">Citas</a></div>
</div>
